@model List<FilmKurdu.Models.ViewModel.MediaItem>

@{
    ViewBag.Title = "SearchPage";
    Layout = "Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
</head>
<body>
    @if (Model != null)
    {
        if (Model.Count > 0)
        {
            <div class="block">
                <div class="image-container">
                    @foreach (var item in Model.Where(item => item.Type == "Movie"))
                    {
                        <div class="block">
                            <div class="image-container" style="border: solid 1px #ffffff">
                                <div>
                                    <a href="@Url.Action("MoviePage", "Home", new {movieId = item.ID})"><img src="@item.Image" alt="poster"/></a>
                                </div>
                            </div>
                        </div>
                    }
                    @foreach (var item in Model.Where(item => item.Type == "Series"))
                    {
                        <div class="block">
                            <div class="image-container" style="border: solid 1px #ffffff">
                                <div>
                                    <a href="@Url.Action("SeriesPage", "Home", new {seriesId = item.ID})"><img src="@item.Image" alt="poster" /></a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="d-flex justify-content-center mt-5">
                <h5 style="color: white; align-self: center">Can't find anything :(</h5>
            </div>
                }
                }

        </body>
</html>
